@import 'normalize.css';

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	padding: 200px;
	text-align: center;
	background: rgb(228,239,192); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgba(228,239,192,1) 0%, rgba(171,189,115,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(228,239,192,1)), color-stop(100%,rgba(171,189,115,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(228,239,192,1) 0%,rgba(171,189,115,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(228,239,192,1) 0%,rgba(171,189,115,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(228,239,192,1) 0%,rgba(171,189,115,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(228,239,192,1) 0%,rgba(171,189,115,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4efc0', endColorstr='#abbd73',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

h1, h2 {
	font-family: 'Germania One', cursive;
	color: #333;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 48px;
	line-height: 1.25em;
	margin: 0 0 1em;
}

h2 {
	cursor: pointer;
	font-size: 36px;
	line-height: 1.5em;
	margin: 0;
}

h2:hover {
	opacity: 0.8;
}

p {
	margin: 0 0 5em;
	padding: 0;
}

#map-container {
	position: absolute;
	top: 100px;
	left: 50px;
	width: 500px;
	height: 500px;
}
